#pic{
    border-radius: 50%;
}
body{
    text-align: center;
    padding-top: 800px;
    margin:0;
}
#wellcome{

    position: absolute;
    bottom: 0;
    background:linear-gradient(rgb(123, 206, 218) 0%,rgb(157, 117, 198) 100%) ;
    width:100% ;
    height:100% ;
    display:table ;
    z-index: 5;
}
.section1{
    font-family: 'Caveat', cursive;
    display: table-cell;
    vertical-align: middle;
}
.line{
    background-color: black;
    height: 5px;
    width: 70px;
    margin: 8px auto;
}
#name{
    font-family: 'Caveat', cursive;
    font-size:40px ;
}
.menu{
list-style: none;
position: fixed;
top:0px;
margin-top: 0px;
z-index: 10;
cursor: pointer;
background: white;
width: 100%;
}
.links{
display: inline;
padding-top: 5px;
padding-bottom: 5px;
padding-left:10px ;
padding-right: 10px;
}
p{
    padding-left: 100px;
    padding-right: 100px;
    line-height: 2;
}
a{
    text-decoration: none;
}
.links:hover{
    font-size: 20px;
}
.con1 h3{
display: inline;

}